/* TIPOGRAFIAS */

body {
    font-family: 'Montserrat', sans-serif, !important;
    font-size: 1.1rem;
    background-color: #141414;
    color: #fafafa; /* Cambiar el color del texto a blanco para que sea legible */
    
    .fondo-verde { 
    background-color: #2b5c3f64;
    }

    .fondo-verde-servicios{
        padding: 30px 10px;
        background-color: #2b5c3f64;
        align-items: center;
        text-align-last: justify;
    }
h1{
    color: #141414; /* Mismo color que fondo, para que no se vea, pero impacteen SEO */
    size-adjust: 1px;
    display: none; /* para ocultarlo y liberar el espacio*/
}


h2 {
    font-size: 3rem;
    color: #fafafa;
    letter-spacing: 3px; /* espaciado entre letras*/
}

h3 {
    font-size: 2rem;
    color: #fafafa;
    letter-spacing: 2px;
}

h4 {
    font-size: 1rem;
    color: #fafafa;
    letter-spacing: 1px;
    font-weight: lighter;
    
}

h1,h2,h3,h4 {
    text-align: center;
}

p {
    color: #fafafa;
    text-align: justify;
}

.Descargar {
    color: #fafafa;
    text-align: center;
}

.titulo-index {
    font-weight: light;

}

.titulo-ppal{
    text-align: center;
    text-wrap: balance;
    padding: 5%;
}

.texto-inferior-index{
    text-align: right;
    text-wrap: balance;
    margin: 5%;
    font-size:large;
    
}

.Texto-Servicios {
    block-size: auto;
    text-align: left;
    text-wrap: pretty;
    margin: 5%;
    display: block
}

.Texto-Nosotros {
    block-size: auto;
    text-align: left;
    text-wrap: pretty;
    margin: 5%;
    display: block
}


button {
    padding: auto;
    margin: auto;
    display: block;
    align-items: center;
}
/* NAVBAR */

.offcanvas-body {
    background: #91bca8 !important; 
}

nav {
    background: #094f41 !important; /* Color de fondo del menú */
    padding: 2px 0; /* Espacio alrededor del contenido */
    font-family: 'Montserrat', sans-serif, !important; /* Tipografía Montserrat */
    display: flex; /* Usar flexbox para el diseño */
    align-items: center; /* Alinear elementos verticalmente */
}


.nav-items{
    display: inline-block;
}

.logo {
    width: 18%; /* Ancho del logo */
    padding-left: 50px;
    margin-right: 20px; /* Espacio a la derecha del logo */
}

nav ul {
    list-style: none; /* Quitar viñetas de la lista */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 15px 10px; /* Espaciado entre links */
    flex-grow: 1; /* Permitir que la lista ocupe el espacio restante */
    text-align: right; /* Alinear elementos a la derecha */
}

nav li {
    display: inline-block; /* Mostrar elementos de la lista en línea */
    margin-left: 20px; /* Espacio entre elementos */
    margin-bottom: 20px;
}

nav li a {
    color: #fff; /* Color del texto de los enlaces */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    padding: 10px 15px; /* Espacio alrededor del texto de los enlaces */
}

nav li a:hover { /* Efecto hover para los enlaces */
    background-color: #5d5a5a83; /* Color de fondo al pasar el cursor */
    border-radius: 5px;
}


/* FOOTER */

.footer-fondo-verde {
    background-color: #094f41; /* Color de fondo del menú */
    padding: 10px; /* Espacio alrededor del contenido */
    font-family: 'Montserrat', sans-serif , !important ; /* Tipografía Montserrat */
    display: flex; /* Usar flexbox para el diseño */
    align-items: center ; /* Alinear elementos verticalmente */
}

}

footer ul {
    list-style: none; /* Quitar viñetas de la lista */
    padding: 20px; /* Espaciado entre links */
    flex-grow: 1; /* Permitir que la lista ocupe el espacio restante */
    text-align: left; /* Alinear elementos a la izquierda */
    line-height: 2;
}

.logo-footer {
    width: 5%; /* Ancho del logo */
    height: 5%; /* Altura del logo */
    text-align: center;
    padding-right: 20px;
}


/* COPYRIGHT */

.Copyright {
    font-size: 10px;
    font-weight: lighter;
}
/* BOTONES */

.boton {
    background-color: #094f41;
    color: #ffffff;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;}

    /* IMAGENES */

    .logo-web { 
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;}




    #Whatsapp {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 5%;
    right: 5%;

}

    /* Flebox */

.box-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}


    /* VIDEOS */
    .video-grande {
        width: 100%;
    padding: auto;

    }
    .videos-chicos {
        width: 30%;
        padding: auto;
    }



    /* GRID INDEX */

    main .principal-index {
        display: grid;
        grid-template-columns: repeat(5,20%);
        grid-template-rows: repeat(3,40%);
        row-gap: 10px;
        column-gap: 10px;
        
    }

    .principal-index .box-index {
        font-size: 3rem;
        padding: 20px;
    }
    
    #box-index {
        position: relative;
        display: flex; /* Usar flexbox para el diseño */
        margin: 20px;

    }
        /* GRID INDEX - IMAGENES */
    img {
        width: 100%;
        height: 100%;
    }
    
    .foto-index {
        border: 1px solid transparent;
        border-radius: 15% 10px 15% 10px;
    }

    .foto-cat {
        width: 30%;
        height: 30%;
        padding: auto;
        margin: auto;
        border: 1px solid transparent;
        border-radius: 15% 10px 15% 10px;
        
        }

    
    .fondo-verde{
        border: 1px solid transparent;
        border-radius: 15% 10px 15% 10px;
    }

    input{
        margin-bottom: 40px;
        align-items: center;
        border: 5px solid transparent;
        border-radius: 5px;
    }

    textarea{
        margin-bottom: 40px;
        margin-right: 40px;
        border: 5px solid transparent;
        border-radius: 5px;
        font-family:inherit;
        align-items:flex-end;
    }

    a{
    color: inherit;
    
    }
    iframe{
        margin-bottom: 40px;
        border: 5px solid transparent;
        border-radius: 15px;
    }

    video{
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
        border: 5px solid transparent;
        border-radius: 15px;

    }
        /* MEDIA QUERIES */
        @media screen and (max-width:500px) {
            #box-index {
                flex-direction: column;
            }
            .foto-cat{
                display: flex; 
                flex-direction: column;
            }

            .videos-chicos{
                display: flex; 
                flex-direction: column;
            }
        
            
        }
        /* PSEUDO CLASES */
        a :link {
            color: #fafafa;
        }
        a :visited {
            color: grey;
        }