@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif; /* Corregido aquí */
  background-color: #141414;
  color: #fafafa;
}

header {
  width: 100%;
}
header .navbar, header footer {
  background-color: #094f41;
  height: 6rem;
}
header .navbar .navbar-fixed-top, header footer .navbar-fixed-top {
  background-color: #094f41; /* Color de fondo del navbar */
  width: 100%;
}
header .navbar .navbar-fixed-top .container-fluid, header footer .navbar-fixed-top .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .navbar-fixed-top .container-fluid .logo-nav, header footer .navbar-fixed-top .container-fluid .logo-nav {
  width: 190px;
  padding-left: 5px;
  padding-bottom: 10px;
}
header .navbar .navbar-fixed-top .container-fluid .navbar-toggler, header footer .navbar-fixed-top .container-fluid .navbar-toggler {
  margin-left: auto; /* Asegura que el botón se alinee a la derecha */
  color: #141414;
  margin-right: 20px;
}
header .navbar .navbar-fixed-top .container-fluid h5, header footer .navbar-fixed-top .container-fluid h5 {
  padding-left: 5%;
  font-size: 2rem;
  font-weight: inherit;
}
header .navbar .navbar-fixed-top .container-fluid .offcanvas-body, header footer .navbar-fixed-top .container-fluid .offcanvas-body {
  background: #fafafa !important;
}
header .navbar .navbar-fixed-top .container-fluid .offcanvas-body .navbar-nav, header footer .navbar-fixed-top .container-fluid .offcanvas-body .navbar-nav {
  list-style: none; /* Quitar viñetas de la lista */
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 15px 10px; /* Espaciado entre links */
  flex-grow: 1; /* Permitir que la lista ocupe el espacio restante */
  text-align: center; /* Alinear elementos a la derecha */
}
header .navbar .navbar-fixed-top .container-fluid .offcanvas-body .navbar-nav .nav-item, header footer .navbar-fixed-top .container-fluid .offcanvas-body .navbar-nav .nav-item {
  display: inline-block; /* Mostrar elementos de la lista en línea */
  margin-left: 20px; /* Espacio entre elementos */
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #141414; /* Color del texto de los enlaces */
  text-decoration: none; /* Eliminar subrayado de los enlaces */
  padding: 5px 10px; /* Espacio alrededor del texto de los enlaces */
}
header .navbar .navbar-fixed-top .container-fluid .offcanvas-body .navbar-nav .nav-item:hover, header footer .navbar-fixed-top .container-fluid .offcanvas-body .navbar-nav .nav-item:hover {
  background-color: rgba(24, 94, 18, 0.1960784314); /* Color de fondo al pasar el cursor */
  border-radius: 80px 10px;
  font-weight: bolder;
  color: #000000;
}

main h1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.5rem;
  padding: 50px 50px 50px 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fafafa;
  margin: 0.67em 0;
}
main h1 .titulo-ppal {
  text-align: center;
  text-justify: auto;
  padding: 20px;
}
main .principal-index {
  display: flex; /* Usar flexbox para el diseño */
  flex-direction: row; /* Asegúrate de que los elementos estén en una fila */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  justify-content: space-between; /* Espacia los elementos hijos uniformemente */
  margin: 20px;
  font-size: 3rem;
}
main .principal-index .foto-index {
  border: 1px solid transparent;
  border-radius: 15% 15px 15% 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex; /* Utiliza Flexbox para alinear los elementos */
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  gap: 20px; /* Espacio entre la imagen y el texto */
  flex: 1; /* Ocupa el espacio disponible en el contenedor flex */
  position: relative; /* Permite posicionar elementos hijos */
  margin-bottom: 10rem;
}
main .principal-index .texto-inferior-index {
  font-family: "Montserrat", sans-serif !important;
  text-align: right;
  margin: 5%;
  font-size: 2rem;
  word-wrap: break-word; /* Permite el ajuste del texto largo */
  display: flex;
  flex-direction: column; /* Coloca el contenido en una columna */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: flex-end; /* Alinea el contenido al final del contenedor */
}
main .logo-whatsapp {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

main section:first-of-type h1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.5rem;
  padding: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fafafa;
  margin: 0.67em 0;
}
main section:nth-of-type(2) #box-index {
  display: flex; /* Usar flexbox para el diseño */
  margin: 20px;
  margin-right: 60px;
  align-items: flex-start; /* Alinea el contenido al inicio horizontalmente */
}
main section:nth-of-type(2) #box-index .Texto-Nosotros {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin: 5%;
  font-size: 1.5rem;
  word-wrap: break-word; /* Permite el ajuste del texto largo */
  display: flex;
  flex-direction: column; /* Coloca el contenido en una columna */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
  letter-spacing: 1px;
  text-wrap: pretty;
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
}
main section:nth-of-type(2) img {
  max-width: 100%;
  height: auto;
  animation: flipInX 1s ease-in-out;
  flex: 1; /* Permite que la imagen ocupe el espacio disponible */
}
main .logo-whatsapp {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

main .Servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  margin: 0; /* Remueve márgenes */
  padding: 0; /* Remueve padding */
}
main .Servicios h1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fafafa;
  margin: 0.67em 0;
}
main .Servicios .video-grande {
  width: 100%;
  max-width: 100%; /* Asegura que el video no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción del video */
}
main div .Texto-Servicios {
  block-size: auto;
  text-align: left;
  text-wrap: pretty;
  margin: 5%;
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
}
main br {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  line-height: 0;
}
main .conoce {
  block-size: auto;
  text-align: center;
  text-wrap: pretty;
  margin: 5%;
  display: block;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1px;
}
main section.fondo-verde-servicios {
  background-color: #094f41;
  padding: 30px 40px;
  align-items: center;
  text-align-last: justify;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  margin: 0; /* Remueve márgenes */
}
main section.fondo-verde-servicios[data-aos=flip-left] {
  background-color: #094f41;
}
main section.fondo-verde-servicios br {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  line-height: 0;
}
main section.fondo-verde-servicios .videos-chicos-container {
  display: flex; /* Usar flexbox para alinear los videos */
  justify-content: space-between; /* Espacio entre los videos */
  align-items: center; /* Alinea los videos al centro verticalmente */
}
main section.fondo-verde-servicios .videos-chicos-container .videos-chicos {
  width: 30%;
  padding: auto;
  margin-bottom: 40px;
  border: 5px solid transparent;
  border-radius: 15px;
  display: block;
  align-items: center;
}
main br {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  line-height: 0;
}

main br {
  margin: 10px 0;
}
main h1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fafafa;
  margin-bottom: 1rem;
}
main h2.catalogos {
  font-size: 2rem;
  letter-spacing: 2px;
  color: #fafafa;
  text-align: center;
  font-weight: lighter;
  margin-top: 5rem;
  margin-bottom: 10px;
}
main p.Descargar {
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: underline;
  color: #fafafa;
  text-align: center;
}
main p.Descargar a {
  color: #fafafa;
  text-decoration: none;
}
main p.Descargar a:hover {
  text-decoration: underline;
  color: #5ecc1f;
}
main section {
  display: block;
  margin-left: 5rem;
  margin-right: 1rem;
}
main section img.foto-cat {
  width: 25rem;
  padding: 5px;
  margin: 1%;
  border: 1px solid transparent;
  border-radius: 15% 15px 15% 15px;
}
main section img.foto-cat:first-of-type {
  margin-left: 0;
}
main section img.foto-cat:last-of-type {
  margin-right: 0;
}

.logo-whatsapp {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

main h1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.5rem;
  padding: 50px 50px 50px 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fafafa;
  margin: 0.67em 0;
}
main .Formulario {
  margin-top: 5px;
}
main .Formulario .container .input {
  margin-bottom: 5px;
  align-items: center;
  border: 5px solid transparent;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
main .Formulario .container label {
  font-size: 1rem;
  display: block;
  margin-top: 25px;
  letter-spacing: 1px;
}
main .Formulario .container textarea {
  color: pink;
  height: 400px;
  margin-top: 50px;
  margin-right: 40px;
  margin-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  border: 5px solid transparent;
  border-radius: 15px;
  font-family: inherit;
  align-items: flex-end;
}
main .Formulario .container textarea.animate__animated.animate__slideInLeft {
  animation-duration: 1s;
  animation-delay: 0.3s;
}
main .Formulario .container .boton2 {
  background-color: #094f41;
  color: #fafafa;
  padding: 1rem 3rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 2px;
  border-radius: 5rem;
  width: 400px;
  text-align: center;
  border: none;
}
main .Formulario .container .boton2:hover {
  color: #5ecc1f;
}
main .ubicacion {
  display: block;
}
main .ubicacion .ubiem h2 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 2.5rem;
  padding: 50px 50px 50px 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: normal;
  color: #fafafa;
}
main .ubicacion .container {
  align-items: center;
}
main .ubicacion .container.text-center {
  margin: 100px;
}
main .ubicacion .container.text-center .row .col {
  background-color: transparent;
}
main .ubicacion .container.text-center .row [data-aos=flip-left] iframe {
  padding: auto;
  margin: 1rem;
  border: 5px solid transparent;
  border-radius: 15px;
}
main .Texto-Ubicacion {
  font-family: "Montserrat", sans-serif !important;
  block-size: auto;
  margin: 70px;
  display: block;
  text-align: left;
  text-wrap: pretty;
}
main .Texto-Ubicacion .container-fluid p {
  font-size: 1.5rem;
  color: #fafafa;
  font-weight: 300;
}
main .Texto-Ubicacion .container-fluid p strong {
  font-weight: bolder;
  letter-spacing: 1px;
  font-style: oblique;
}
main .logo-whatsapp {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

footer {
  background-color: #094f41;
  padding: 10px;
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  align-items: left;
  flex-direction: row;
}
footer ul {
  list-style: none;
  padding: 20px;
  flex-grow: 1;
  text-align: left;
  line-height: 2;
}
footer ul li svg {
  width: 24px;
  height: 24px;
  color: #fafafa;
  fill: none;
}
footer ul li svg path {
  stroke: currentColor;
  stroke-width: 1.5;
  stroke-linejoin: round;
}
footer ul li a {
  color: inherit;
  text-decoration: none;
}
footer ul li a:hover {
  color: #5ecc1f;
  text-decoration: solid;
}
footer .logo-footer {
  width: 80px;
  text-align: end;
  padding-right: 20px;
  align-self: self-end;
}

.Copyright {
  align-self: center; /* Centrar horizontalmente */
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  .Texto-Nosotros {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 768px) {
  .Texto-Nosotros {
    font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 480px) {
  .Texto-Nosotros {
    font-size: 0.7rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}
@media (max-width: 1024px) {
  .texto-inferior-index {
    font-size: 2rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 768px) {
  .texto-inferior-index {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 480px) {
  .texto-inferior-index {
    font-size: 1rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}
@media (max-width: 1024px) {
  .Texto-Servicios {
    font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 768px) {
  .Texto-Servicios {
    font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
  }
}
@media (max-width: 480px) {
  .Texto-Servicios {
    font-size: 0.7rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
  }
}
@media screen and (max-width: 500px) {
  #box-index {
    flex-direction: column;
  }
  .videos-chicos {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .foto-cat {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
