main {
    section {
    &:first-of-type {

        h1 {
        font-family: 'Montserrat', sans-serif !important;
        font-size: 2.5rem;
        padding: 50px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
        color: $blanco-tipog;
        margin: 0.67em 0;
        }
    }

    &:nth-of-type(2) {

        #box-index {
        display: flex; /* Usar flexbox para el diseño */
        margin: 20px;
        margin-right: 60px;
          align-items: flex-start; /* Alinea el contenido al inicio horizontalmente */
        
        .Texto-Nosotros {
            font-family: "Montserrat", sans-serif;
            text-align: left;
            margin: 5%;
            font-size: 1.5rem;
            word-wrap: break-word; /* Permite el ajuste del texto largo */
            display: flex;
            flex-direction: column; /* Coloca el contenido en una columna */
            justify-content: center; /* Centra el contenido verticalmente */
            align-items: flex-start; /* Alinea el contenido al inicio del contenedor */
            letter-spacing: 1px;
            text-wrap: pretty;
            flex: 1; /* Permite que el texto ocupe el espacio disponible */

            
            }
        }

        img {
            max-width: 100%;
            height: auto;
            animation: flipInX 1s ease-in-out;
            flex: 1; /* Permite que la imagen ocupe el espacio disponible */
        }
        }
    
    }

    .logo-whatsapp {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    }
}
