@media (max-width: 1024px) {
    .Texto-Nosotros {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}


@media (max-width: 768px) {
    .Texto-Nosotros {
        font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}


@media (max-width: 480px) {
    .Texto-Nosotros {
        font-size: 0.7rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
    }
}




@media (max-width: 1024px) {
    .texto-inferior-index  {
        font-size: 2rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}


@media (max-width: 768px) {
    .texto-inferior-index  {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}


@media (max-width: 480px) {
    .texto-inferior-index  {
        font-size: 1rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
    }
}





@media (max-width: 1024px) {
    .Texto-Servicios {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}


@media (max-width: 768px) {
    .Texto-Servicios {
        font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
    }
}


@media (max-width: 480px) {
    .Texto-Servicios {
        font-size: 0.7rem; /* Tamaño de fuente aún más pequeño para pantallas muy pequeñas */
    }
}




@media screen and (max-width:500px) {
    #box-index {
        flex-direction: column;
    }
    .videos-chicos{
        display: flex; 
        flex-direction: column;
    }


    @media screen and (max-width:500px) {
        .foto-cat{
            display: flex; 
            }
        }
    }